<p id="notice"><%= notice %></p>

<p>
  <strong>Nick:</strong>
  <%= @entry.nick %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entry.email %>
</p>

<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>

<%= link_to 'Back', entries_path %>
