<!DOCTYPE html>
<html>
  <head>
    <title>RailsExampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>

    <div id="js-test"></div>
    <%= image_tag 'image_test.png' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
